@charset "utf-8";
/*
 *  This CSS is for the html description of modules
 * TODO clean
 */
/* --------------------------------- *
 *          STYLING CONTEXT          *
 * --------------------------------- */
/* --- Styling for the V8/Lato/White/Purple design --- */
.o_web_client .openerp .oe_appsbar {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    z-index: 100;
    background-color: red;
    padding: 20px 30px;
}
